In [1]:
# Standard libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import glob
import plotly.express as px
import os

In [4]:
jan = pd.read_csv('D:/Data & Analytic/Project/eCommerce behavior data from multi category store/2020-Jan.csv') # Read CSV file

In [5]:
jan.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55967041 entries, 0 to 55967040
Data columns (total 9 columns):
 #   Column         Dtype
---  ------         -----
 0   event_time     object
 1   event_type     object
 2   product_id     int64
 3   category_id    int64
 4   category_code  object
 5   brand          object
 6   price          float64
 7   user_id        int64
 8   user_session   object
dtypes: float64(1), int64(3), object(5)
memory usage: 20.9 GB

In [6]:
jan.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2020-01-01 00:00:00 UTC,view,1005073,2232732093077520756,construction.tools.light,samsung,1130.02,519698804,69b5d72f-fd6e-4fed-aa23-1286b2ca89a0
1,2020-01-01 00:00:01 UTC,view,1005192,2232732093077520756,construction.tools.light,meizu,205.67,527767423,7f596032-ccbf-4643-9bad-e36a209512b4
2,2020-01-01 00:00:01 UTC,view,100063693,2053013552427434207,apparel.shirt,turtle,136.43,519046195,d1e2f343-84bb-49bd-b13d-ca0f1ed9910e
3,2020-01-01 00:00:01 UTC,view,5100816,2232732103831716449,apparel.shoes,xiaomi,29.95,518269232,0444841c-38ef-410c-b11f-7b35ea4e5991
4,2020-01-01 00:00:02 UTC,view,100014325,2232732103294845523,apparel.shoes.step_ins,intel,167.20,587748686,31b7d4cf-dfac-4895-9927-90fa3254f860

In [7]:
print(jan.columns.values)

['event_time' 'event_type' 'product_id' 'category_id' 'category_code'
 'brand' 'price' 'user_id' 'user_session']

In [11]:
for dtype in ['float64','int64','object']:
    selected_dtype = jan.select_dtypes(include=[dtype])
    mean_usage_b = selected_dtype.memory_usage(deep=True).mean()
    mean_usage_mb = mean_usage_b / 1024 ** 2
    print("Average memory usage for {} columns: {:.2f} MB".format(dtype,mean_usage_mb))

Average memory usage for float64 columns: 213.50 MB
Average memory usage for int64 columns: 320.25 MB
Average memory usage for object columns: 3278.60 MB

In [13]:
# We're going to be calculating memory usage a lot,
# so we'll create a function to save us some time!
# Optimizing Numeric Columns with Subtypes
def mem_usage(pandas_obj):
    if isinstance(pandas_obj,pd.DataFrame):
        usage_b = pandas_obj.memory_usage(deep=True).sum()
    else: # we assume if not a df it's a series
        usage_b = pandas_obj.memory_usage(deep=True)
    usage_mb = usage_b / 1024 ** 2 # convert bytes to megabytes
    return "{:.2f} MB".format(usage_mb)
jan_int = jan.select_dtypes(include=['int64'])
converted_int = jan_int.apply(pd.to_numeric,downcast='unsigned')
print(mem_usage(jan_int))
print(mem_usage(converted_int))
compare_ints = pd.concat([jan_int.dtypes,converted_int.dtypes],axis=1)
compare_ints.columns = ['before','after']
compare_ints.apply(pd.Series.value_counts)

1280.98 MB
853.99 MB

        before  after
uint32     NaN    2.0
int64      3.0    NaN
uint64     NaN    1.0

In [15]:
jan_float = jan.select_dtypes(include=['float64'])
converted_float = jan_float.apply(pd.to_numeric,downcast='float')
print(mem_usage(jan_float))
print(mem_usage(converted_float))
compare_floats = pd.concat([jan_float.dtypes,converted_float.dtypes],axis=1)
compare_floats.columns = ['before','after']
compare_floats.apply(pd.Series.value_counts)

426.99 MB
213.50 MB

         before  after
float32     NaN    1.0
float64     1.0    NaN