In [3]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt

Exercise: Array DataStructure
Let us say your expense for every month are listed below,

* January - 2200
* February - 2350
* March - 2600
* April - 2130
* May - 2190

Create a list to store these monthly expenses and using that find out,

1. In Feb, how many dollars you spent extra compare to January?
2. Find out your total expense in first quarter (first three months) of the year.
3. Find out if you spent exactly 2000 dollars in any month
4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
5. You returned an item that you bought in a month of April and
got a refund of 200$. Make a correction to your monthly expense list
based on this

In [23]:
q = {
    "January" : 2200,
    "February" : 2350,
    "March" : 2600,
    "April" : 2130,
    "May" : 2190
    }

In [25]:
q["February"]-q["January"]

150

In [27]:
q["January"]+q["February"]+q["March"]

7150

In [34]:
if 2000 in q.values():
    print("True")
else:
    print("False")

False

In [37]:
q["June"] = 1980

print(q)

{'January': 2200, 'February': 2350, 'March': 2600, 'April': 2130, 'May': 2190, 'June': 1980}

In [38]:
q["April"] = q["April"] - 200

print(q)

{'January': 2200, 'February': 2350, 'March': 2600, 'April': 1930, 'May': 2190, 'June': 1980}

In [71]:
def fact(n):
    product = 1
    for i in range(n):
        product = product * (i+1)
    return product

print(fact(5))

120

In [48]:
def fact2(n):
    if n == 0:
        return 1
    else:
        return n * fact2(n-1)

print(fact2(5))

120

In [74]:
%timeit fact(5)

976 ns ± 14.8 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [75]:
%timeit fact2(5)

1.42 µs ± 10.3 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)